@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');

body{
    background-color: #095712;
}

/* ---- HEADER ---- */

h1, h2{
    color: white;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
}

#flex-title{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.card-title{
    height: 65px;
    width: 65px;
    margin-top: 20px;
    padding-left: 30px;
}

/* ---- BUTTONS ---- */

.btn-wrapper{
	position: fixed;
	top: calc(50% - 22px);
	left: 0;
	width: 100%;
	text-align: center; 
    display: flex;
    justify-content: space-evenly;
}

.btn-start{
	display: inline-block;
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	background-color: rgb(34, 201, 81);
	height: 45px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	color: rgb(40, 45, 50);
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
    font-family: 'Lobster', cursive;
}

.btn-cancel{
	box-shadow: none;
	border: 0;
	outline: 0;
	background-color: rgb(143, 14, 14);
	height: 45px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	color: #ffff;
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
}

.btn-stop{
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	background-color: rgb(3, 222, 117);
	height: 45px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	color: rgb(40, 45, 50);
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
}

.btn-restart{
	box-shadow: none;
	border: 0;
	outline: 0;
	background-color: rgb(0, 238, 35);
	height: 45px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	color: rgb(40, 45, 50);
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
}

.btn-draw-card{
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	background-color: rgb(3, 222, 117); /*#2AACE4;*/
	height: 45px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	color: rgb(40, 45, 50);
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
}

.btn-start:hover, .btn-cancel:hover, .btn-restart:hover, .btn-draw-card:hover, .btn-score:hover, .btn-number-card:hover, #rules-btn:hover, .btn-stop:hover{
    transform: scale(1.1, 1.1);
}

.btn-start:active, .btn-cancel:active, .btn-restart:active, .btn-draw-card:active, .btn-score:active, .btn-number-card:active, #rules-btn:active, .btn-stop:active{
    transform: scale(1.05, 1.05);
}

.btn-cancel:disabled, .btn-draw-card:disabled, .btn-stop:disabled
.btn-cancel[disabled], .btn-draw-card[disabled], .btn-stop[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
/* ---- MODAL ---- */

#rules-btn{
    display: inline-block;
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	background-color: rgb(3, 3, 3);
	height: 45px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	color: rgb(230, 230, 230);
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
    font-family: 'Lobster', cursive;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-result {
	position: fixed;
    z-index: 1;
    top: calc(50% - 20vw);
    left: calc(50% - 40vh);
}

.modal.modal-defeat{
	overflow: hidden;
}

.modal-content{
   background-color: #1b6e37;
   margin: 15% auto;
   padding: 20px;
   width: 30%;
   border-radius: 4rem;
}

.modal-result-content {
	background-color: #1b6e37;
	margin: 15% auto;
   	padding: 20px;
  	width: 30%;
	height: fit-content;
   	border-radius: 4rem;
	font-size: 20px;
}

.modal-content.victory {
	height: 60vh;
}

.close{
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.h1-modal, .h2-modal{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.modal-content p{
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
}

/* ---- SCORE ---- */

.score-flex-container {
	display: none;
	justify-content: center;
}
	
.score{
	border: solid black;
	border-radius: 50%;
	border-top: transparent;
	border-color: yellowgreen;
	height: 50px;
	width: 120px;
	text-align: center;
	font-family: 'Lobster', cursive;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.score-title {
	position: relative;
	top: -10px;
	color: white;
}

.score-content{
	font-size: x-large;
	text-align: center;
}

.close-modal-result
{
	color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal-result:hover, .close-modal-result:focus{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.title-modal-victory {
	color: #B78E44;
}

.title-modal-defeat {
	color: #B78E44;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(7deg);
}

.modal-score{
	text-align: left !important;
	color: white;
	font-family: 'Luckiest Guy' !important;
}

.modal-victory-img{
	background-image: url(../images/trophy.png);
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	height: 300px;
}

.modal-defeat-gif {
	background-image: url(../images/defeat.gif);
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	height: 170px;
}

/* ---- PILE CARTE + CARTE RESTANTE---- */

#container-deck-card {
	position:fixed;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

#rest-card {
	font-size: 18px;
	color: white;
}

/* ---- CARTES TIREES ---- */

@keyframes anime {
	0% {
		transform: translate(1200px,90px);
	}
}

#container-draw-card {
	margin-left: 5%;
	margin-top: 7%;
}

#container-draw-card img {
	animation-name: anime;
	animation-duration: 1s;
}

#container-draw-card img:nth-child(1) {
	transform: translateX(190px) rotate(20deg);
	margin-left: 50px;
}

#container-draw-card img:nth-child(2) {
	transform: translate(40px,40px) rotate(-10deg)
}

#container-draw-card img:nth-child(3) {
	transform: translate(-125px,-50px);
}

#container-draw-card img:nth-child(4) {
	transform: translate(-270px,-20px) rotate(-24deg);
}

#container-draw-card img:nth-child(5) {
	transform: translate(-470px,30px) rotate(10deg);
}

#container-draw-card img:nth-child(6) {
	transform: translate(-605px,60px) rotate(-5deg);
}

.game-buttons{
	display: flex;
	flex-direction: column;
	margin-right: 150px;
	margin-top: 130px;
}

.buttons-all{
	margin-top: 30px;
}

/* ---- Connection State ----- */

#connection-state{
	font-size: 17px;
	font-weight: bold;
	font-family: 'M PLUS 1', sans-serif;
}

/* ---- Card animation end game ---- */

.rotate {
	animation: rotation 0.7s ease-out;
}
  
@keyframes rotation {
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(359deg);
}
}